<html>
  <body>
    <header>
      チャット一覧
    </header>
    <button type="button"> 新規作成</button>
    
    <div id="side">
    　<div class="box">
        <h2>プロフィール</h2>
        <div class="boxBody">
          <tr>
            <th>名前</th>            
          </tr>
        </div>
      </div>
  　</div> 
  </body>
<table>
 <tbody class="main">
  <tr>
  　<th>ルーム1<button type="button" class="btn btn-primary" >詳細</button>
  </tr>
  <tr>
  　<th>ルーム2<button type="button" class="btn btn-primary" >詳細</button>
  <tr>
  　<th>ルーム3<button type="button" class="btn btn-primary">詳細</button></th>
  </tr>
 </tbody>
 
</table>

