<html>
  <body>
   <div>チャットルーム</div>
    <header>
      チャット一覧
    </header>
    <%= link_to "+新規", new_room_path, class:"btn btn-success" %> 
  </body>
<table class="container">
 <tbody class="row row-cols-auto">

 </tbody>
 <% @rooms.each do |room| %>
   <tr>
     <td class="row row-cols-auto">
       <%= room.name %>
     </td>
      <td>
        <%= link_to "詳細", room_path(room), class: "btn btn-info" %>
      </td>
   </tr>
 <% end %>

</table>

