<p id="notice"><%= notice %></p>

<p>
  <strong>ルーム名:</strong>
  <%= @room.name %>
</p>
<hr>
<div id="messages">
 <%= render @messages %>
</div>
<hr>
<% render 'form' %>
<%= link_to '戻る', rooms_path %>
